<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/navbar.ejs') %>
  <main>
    <header class="header-title pt-5">
      <div class="container-lg">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-5 col-lg-6 col-xxl-4">
            <div class="position-relative text-center">
              <h1 class="lh-1">Skema Sertifikasi</h1>
              <h5 class="position-relative z-1">ADA 2 SKEMA DI LSP STIMIK BANJARBARU</h5>
              <div class="accent z-0"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="net-design">
      <div class="container-lg">
        <div class="row pt-lg-5 d-flex flex-row">
          <div class="col-12 col-md-7 col-lg-6 pt-md-4 pt-lg-0 ps-lg-5">
            <header class="position-relative">
              <h1>Network Design</h1>
              <!-- <h5 class="position-relative z-1">STMIK BANJARBARU</h5> -->
              <!-- <div class="accent position-absolute z-0"></div> --> 
            </header>

            <p class="body-header pe-lg-5 fs-6 fw-light lh-lg">
              Skema Sertifikasi Network Designer ini dimaksudkan untuk 
              memberikan standar kompetensi yang dibutuhkan tenaga 
              kerja bidang Teknologi Informasi dan Komunikasi yang 
              mengacu pada Standar Kompetensi Kerja Nasional 
              Indonesia (SKKNI) kategori informasi dan komunikasi 
              berdasarkan Keputusan Menteri Ketenagakerjaan 
              Republik Indonesia No 321 tahun 2016 .
            </p>

            <div class="footer-hero mt-4 mt-md-4 mb-3">
              <a href="/sertifikasi/network" role="button" class="btn btn-primary mb-3">
                Lihat Detail
              </a>
              <a class="btn btn-light mb-3" href="/sertifikasi/assesment" role="button">Lihat Hasil Sertifikasi</a>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-6 text-lg-center pb-3">
            <img src="/images/image-network.png" alt="hero image">
          </div>
        </div>
      </div>
    </section>
    <section class="lead-programming">
      <div class="container-lg">
        <div class="row pt-lg-5">
          <div class="col-12 col-md-7 col-lg-6  pt-md-4 pt-lg-0 ps-lg-5">
            <header class="position-relative">
              <h1>Lead Programming</h1>
              <!-- <h5 class="position-relative z-1">STMIK BANJARBARU</h5> -->
              <!-- <div class="accent position-absolute z-0"></div> --> 
            </header>

            <p class="body-header pe-lg-5 fs-6 fw-light lh-lg">
              Skema Sertifikasi Lead Pemrograman ini dimaksudkan untuk 
              memberikan standar kompetensi yang dibutuhkan tenaga kerja 
              bidang Teknologi Informasi dan Komunikasi yang mengacu 
              pada  Standar Kompetensi Kerja Nasional Indonesia (SKKNI) 
              kategori informasi dan komunikasi berdasarkan Keputusan 
              Menteri Ketenagakerjaan Republik Indonesia No. 282 tahun 2016.
            </p>

            <div class="footer-hero mt-4 mt-md-4 mb-3">
              <a href="/sertifikasi/programming" role="button" class="btn btn-primary mb-3">
                Lihat Detail
              </a>
              <a class="btn btn-light mb-3" href="/sertifikasi/assesment" role="button">Lihat Hasil Sertifikasi</a>

            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-6 text-lg-center pb-3">
            <img src="/images/image-lead.png" alt="lead programming image" class="d">
          </div>
        </div>
      </div>
    </section>
  </main>

<%- include('../partials/js.ejs') %>
</body>
</html>